.container {
  height: 400px;
  padding: 24px;
}

.menu-container {
  margin: 20p;
  padding: 0px 16px;
  border-radius: 4px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  min-height: inherit;
  background-color: #2b7a77;
}

.menu-top {
  padding: 16px 0;
  border-bottom: 3px solid #212529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-top h2 {
  padding-bottom: 16px;
}
.menu-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-info-container span {
  display: flex;
  align-items: center;
}

.menu-info-container span .mat-icon {
  margin-right: 8px;
}
