<div class="container">
  <div class="menu-container">
    <div class="menu-top">
      <h2>Menu</h2>
      <div class="menu-info-container">
        <span
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="restaurants"
          ></mat-icon>
          DISHES: value</span
        >
        <span
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="timer"
          ></mat-icon>
          AVG PREP TIME: value MIN.</span
        >
        <span
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="star"
          ></mat-icon>
          AVG. HEALTH SCORE: value</span
        >
        <span
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="payments"
          ></mat-icon>
          ACCUMULATED PRICE: value</span
        >
      </div>
    </div>
  </div>
</div>
