<mat-toolbar color="primary" class="custom-toolbar">
  <div class="toolbar-left" (click)="navigate('menu')">
    <span class="app-name">FODORAMA</span>
    <mat-icon>restaurant</mat-icon>
  </div>

  @if(isLoggedIn){
  <div class="toolbar-right">
    <div class="menu-items">
      <button mat-button (click)="navigate('menu')">Menu</button>
      <button mat-button (click)="navigate('search')">Search</button>

      <button class="logout-btn" mat-button (click)="logout()">
        Logout <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
  <div class="dropdown-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" id="dropdown-menu-list">
      <button mat-menu-item>Menu</button>
      <button mat-menu-item (click)="navigate('search')">Search</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
  }
</mat-toolbar>
