.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;

  h2 {
    // padding-bottom: 48px;
  }

  form {
    padding: 42px 0;
    width: 450px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-field {
      width: 100%;
    }
    button {
      width: 200px;
      margin: 20px 0;
    }
  }
}

.results {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid #17242a;
}

.recipes-container {
  // border: 2px solid blue;
  /* width: 100%; */
  background-color: #2b7a77 !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  padding-top: 80px;
  justify-items: center;
}

.mdc-card {
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-mdc-card-header {
  /* border: 2px solid black; */
  /* height: 40px; */
}

.mdc-card img {
  /* border: 2px solid red; */
}
