<app-banner></app-banner>
<div class="container">
  <h2>Your experience begins here...</h2>

  <form class="searchForm" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <mat-form-field class="form-field">
      <!-- <mat-label>term</mat-label> -->
      <input
        matInput
        type="text"
        id="term"
        placeholder="Search for a dish..."
        formControlName="term"
      />
    </mat-form-field>
    <div class="error-message">
      @if(errorMessage()){
      <span>{{ errorMessage() }}</span>
      }
    </div>
    <button mat-flat-button>Search</button>
  </form>

  <div class="results">
    @if(hasResults()){ @if(!loadingService.isLoading()){
    <h4>Results for "{{ searchTerm() }}":</h4>
    }

    <div class="recipes-container">
      @for(recipe of recipes(); track recipe.id){
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ recipe.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="recipe.image" [alt]="recipe.title" />
        <mat-card-actions>
          <button mat-button color="primary" (click)="getDetails(recipe.id)">
            See details
          </button>
          <button mat-button color="accent" (click)="onAdd()">Add</button>
        </mat-card-actions>
      </mat-card>
      }
    </div>
    } @if(noResults() && !loadingService.isLoading()){
    <h4>No results found for "{{ searchTerm() }}".</h4>
    }
  </div>
</div>
