.Home {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.home__card {
  width: 400px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.mat-mdc-card-content {
  width: 100%;
}
.mat-mdc-card-content h2 {
  text-align: center;
  padding: 0px 0px 48px;
}
